### This notebook is to use spearman correlation to check association between Ratio_Activation and interested taxa

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from scipy.stats import spearmanr, pearsonr
from statsmodels.sandbox.stats.multicomp import multipletests

import matplotlib.pylab as plt
%matplotlib inline

### merge taxonomy with mapping file

In [2]:
taxa = pd.read_csv('../data/RF_taxa_act.txt', sep='\t', index_col='#OTU ID')

In [3]:
print(taxa.shape)
taxa.head()

(133, 3)

,Taxon,Confidence,importance
#OTU ID,,,
TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGCCGGAGATTAAGCGTGTTGTGAAATGTAGACGCTCAACGTCTGCACTGCAGCGCGAACTGGTTTCCTTGAGTACGCACAAAGTGGGCGGAATTCGTGG,k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...,1.000000,0.012003
TACGTAGGGAGCGAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGTAGGCGGGATCGCAAGTCAGATGTGAAAACTATGGGCTTAACCCATAAACTGCATTTGAAACTGTGGTTCTTGAGTGAAGTAGAGGTAAGCGGAATTCCTAG,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,0.850788,0.008464
TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCGCGCAGGCGGCTTCTTAAGTCCATCTTAAAAGTGCGGGGCTTAACCCCGTGATGGGATGGAAACTGGGAGGCTGGAGTATCGGAGAGGAAAGTGGAATTCCTAGT,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,0.999998,0.007752
TACGTAGGTGGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGCGTGTAGCCGGGGAGACAAGTCAGATGTGAAATCTGGAGGCTCAACCTCCAAACTGCATTTGAAACTGTTTCTCTTGAGTATCGGAGAGGTAATCGGAATTCCTAG,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,0.995495,0.002161
TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGTGTGGCAAGTCTGATGTGAAAGGCATGGGCTCAACCTGTGGACTGCATTGGAAACTGTCATACTTGAGTGCCGGAGGGGTAAGCGGAATTCCTAG,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,0.999990,0.005003

In [4]:
otu = pd.read_csv('../data/57316_mros_otus_rare_exp/57316_feature-table-rare.txt', sep='\t', skiprows=1, index_col='#OTU ID')
otu.head()

,MN1837,PO7410,SD8837,MN2250,SD8603,PI5263,MN2373,PI5340,MN1590,PI4847,...,BI0904,PA3993,PA3846,PO7476,BI0730,PO6998,BI0539,MN2181,PO7226,BI0552
#OTU ID,,,,,,,,,,,,,,,,,,,,,
TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGCCGGAGATTAAGCGTGTTGTGAAATGTAGACGCTCAACGTCTGCACTGCAGCGCGAACTGGTTTCCTTGAGTACGCACAAAGTGGGCGGAATTCGTGG,3080.0,2.0,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,1.0,286.0,1.0,0.0,0.0,145.0,0.0
TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGCCGGAGATTAAGCGTGTTGTGAAATGTAGATGCTCAACATCTGCACTGCAGCGCGAACTGGTTTCCTTGAGTACGCACAAAGTGGGCGGAATTCGTGG,1062.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,178.0,1.0,0.0,0.0,331.0,0.0
TACGGAAGGTCCAGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGCAGGCGGCGGCGTAAGTCAGTTGTGAAATCGTGCGGCTTAACCGTGCAATTGCAGTTGATACTGCGTCGCTTGAGTGCACACAGGGATGTTGGAATTCATGG,527.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGCCGGAGATTAAGCGTGTTGTGAAATGTAGAGGCTCAACCTCTGCACTGCAGCGCGAACTGGTCTTCTTGAGTACGCACAACGTGGGCGGAATTCGTGG,505.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGCCGTTTGTTAAGCGTGTTGTGAAATGTCGGGGCTCAACCTGGGCATTGCAGCGCGAACTGGCAGACTTGAGTGCGCGGGAAGTAGGCGGAATTCGTCG,499.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# combine taxa with otu
taxa = pd.merge(taxa, otu, left_index=True, right_index=True).transpose()
taxa.shape

(601, 133)

In [6]:
taxa.head()

#OTU ID,TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGCCGGAGATTAAGCGTGTTGTGAAATGTAGACGCTCAACGTCTGCACTGCAGCGCGAACTGGTTTCCTTGAGTACGCACAAAGTGGGCGGAATTCGTGG,TACGTAGGGAGCGAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGTAGGCGGGATCGCAAGTCAGATGTGAAAACTATGGGCTTAACCCATAAACTGCATTTGAAACTGTGGTTCTTGAGTGAAGTAGAGGTAAGCGGAATTCCTAG,TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCGCGCAGGCGGCTTCTTAAGTCCATCTTAAAAGTGCGGGGCTTAACCCCGTGATGGGATGGAAACTGGGAGGCTGGAGTATCGGAGAGGAAAGTGGAATTCCTAGT,TACGTAGGTGGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGCGTGTAGCCGGGGAGACAAGTCAGATGTGAAATCTGGAGGCTCAACCTCCAAACTGCATTTGAAACTGTTTCTCTTGAGTATCGGAGAGGTAATCGGAATTCCTAG,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGTGTGGCAAGTCTGATGTGAAAGGCATGGGCTCAACCTGTGGACTGCATTGGAAACTGTCATACTTGAGTGCCGGAGGGGTAAGCGGAATTCCTAG,TACGTAGGTCCCGAGCGTTGTCCGGATTTATTGGGCGTAAAGCGAGCGCAGGCGGTTTGATAAGTCTGAAGTTAAAGGCTGTGGCTCAACCATAGTTCGCTTTGGAAACTGTCAAACTTGAGTGCAGAAGGGGAGAGTGGAATTCCATGT,TACGTAGGGAGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGTGCGTAGGCGGATTGGCAAGTCAGAAGTGAAATCCATGGGCTTAACCCATGAACTGCTTTTGAAACTGTTAGTCTTGAGTGAAGTAGAGGTAGGCGGAATTCCCGG,TACGTAGGTGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGCGCGTAGGCGGGGATGCAAGTCAGATGTGAAATCTATGGGCTTAACCCATAAACTGCATTTGAAACTGTATCTCTTGAGTGCTGGAGAGGTAGACGGAATTCCTTG,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGCAAGGCAAGTCTGATGTGAAAACCCAGGGCTTAACCCTGGGACTGCATTGGAAACTGTCTGGCTCGAGTGCCGGAGAGGTAAGCGGAATTCCTAG,TACGTAGGTGGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGCGTGCAGCCGGGAATGCAAGTCAGATGTGAAATCCATGGGCTTAACCCATGAACTGCATTTGAAACTGTATTTCTTGAGTACTGGAGAGGCAATCGGAATTCCTAG,...,TACGTAGGTGGCAAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGTAGGCGGGATGCTAAGCAAATTGTGAAACCAATCGGCTCAACCGGTTGTTGCGATTTGAACTGGTGTCCTTGAGTGGAGTAGAGGCAGGCGGAATTCCCAGT,TACGTAGGTGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGCGTGTAGGCGGGCGAGCAAGTCAGATGTGAAATTCCAGGGCTCAACCCTGGAACTGCATTTGAAACTGTTGGTCTTGAGTGCTGGAGAGGCAATCGGAATTCCGTG,TACGTAGGGGGCGAGCGTTGTCCGGATTTACTGGGCGTAAAGAGTGCGTAGGTGGCTTTACAAGTCAGATGTGAAATACCGCAGCTCAACTGCGGGGCTGCATCTGAAACTGTAGAGCTAGAGTACAGGAGGGGAAAGCGGAATTCCTAG,TACGTAGGGAGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGCGTGTAGGCGGGATGGCAAGTCAGATGTGAAAACTATGGGCTCAACCCATAGCCTGCATTTGAAACTGTCGTTCTTGAGTGATGGAGAGGCAAGCGGAATTCCGTG,TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGCTGTCTATTAAGCGTGTTGTGAAATTTACCGGCTCAACCGGTGGCTTGCAGCGCGAACTGGTCGACTTGAGTATGCAGGAAGTAGGCGGAATTCATGG,TACGTAGGGTGCGAGCGTTAATCGGAATTACTGGGCGTAAAGCGTGCGCAGGCGGTTGGGTAAGACAGGTGTGAAATCCCCGAGCTTAACTTGGGAACTGCACTTGTGACTGCTCAACTAGAGTATGTCAGAGGGAGGTGGAATTCCAAG,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGGATGGCAAGTCTGATGTGAAAGGCGGGGGCTCAACCCCTGGACTGCATTGGAAACTGCCAGCCTAGAGTACCGGAGGGGTAAGCGGAATTCCTAG,TACGTAGGGAGCGAGCGTTGTCCGGAATTACTGGGTGTAAAGGGTGCGTAGGCGGTTTGGTAAGTCAGAAGTGAAATCCATGGGCTTAACCCATGAACTGCTTTTGAAACTATCGGACTTGAGTGAAGTAGAGGTAGGCGGAATTCCCGG,TACGTAGGTGGCAAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGTAGGCGGGAAGACAAGTTGAATGTTAAAACTATGGGCTCAACTCATAGTTGCGTTCAAAACTGCCTTTCTTGAGTGAAGTAGAGGTAAGCGGAATTCCTAGT,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGGCGGTCTGGCAAGCCAGAAGTGAAAGCCCGGGGCTTAACCTCGGGACTGCTTTTGGAACTGTTAGACTAGAGTGTCGGAGAGGTAAGTGGAATTCCTAG
Taxon,k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Bacilli; o__Lac...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...,k__Bacteria; p__Proteobacteria; c__Betaproteob...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...
Confidence,1,0.850788,0.999998,0.995495,0.99999,1,0.996514,0.982154,0.945472,0.974936,...,0.913108,0.980754,0.993647,0.934349,0.999998,0.999994,0.742087,0.993576,0.935026,0.873545
importance,0.0120032,0.00846397,0.00775194,0.00216095,0.00500337,0.00416423,0.0159272,0.00775194,0.00775194,0.00751337,...,0.00775194,0.00274856,0.0155039,0.00775194,0.00708948,0.00775194,0.00775194,0.00775194,0.00697639,0.0086628
MN1837,3080,90,51,17,20,7,10,11,14,4,...,0,0,0,0,0,0,0,0,0,0
PO7410,2,0,0,0,10,2,24,7,4,70,...,0,0,0,0,0,0,0,0,0,0

In [7]:
mf = pd.read_csv('../data/mros_mapping_alpha.txt', sep='\t', index_col='#SampleID')

In [8]:
mf = mf[['OHV1D3', 'OHV24D3', 'OHVD3', 'ratio_activation', 'ratio_catabolism', 'VDstatus']]
mf.head()

,OHV1D3,OHV24D3,OHVD3,ratio_activation,ratio_catabolism,VDstatus
#SampleID,,,,,,
BI0023,0.0393,1.77,25.8,0.001523,0.068605,sufficiency
BI0056,0.0619,3.91,39.2,0.001579,0.099745,sufficiency
BI0131,0.0521,1.49,23.1,0.002255,0.064502,sufficiency
BI0153,0.0431,2.14,27.3,0.001579,0.078388,sufficiency
BI0215,0.0502,3.62,33.0,0.001521,0.109697,sufficiency

In [9]:
# need to substract the six otu abundance for each subject
sample_ids = mf.index
taxa = taxa.loc[sample_ids]
taxa.head()

#OTU ID,TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGCCGGAGATTAAGCGTGTTGTGAAATGTAGACGCTCAACGTCTGCACTGCAGCGCGAACTGGTTTCCTTGAGTACGCACAAAGTGGGCGGAATTCGTGG,TACGTAGGGAGCGAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGTAGGCGGGATCGCAAGTCAGATGTGAAAACTATGGGCTTAACCCATAAACTGCATTTGAAACTGTGGTTCTTGAGTGAAGTAGAGGTAAGCGGAATTCCTAG,TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCGCGCAGGCGGCTTCTTAAGTCCATCTTAAAAGTGCGGGGCTTAACCCCGTGATGGGATGGAAACTGGGAGGCTGGAGTATCGGAGAGGAAAGTGGAATTCCTAGT,TACGTAGGTGGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGCGTGTAGCCGGGGAGACAAGTCAGATGTGAAATCTGGAGGCTCAACCTCCAAACTGCATTTGAAACTGTTTCTCTTGAGTATCGGAGAGGTAATCGGAATTCCTAG,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGTGTGGCAAGTCTGATGTGAAAGGCATGGGCTCAACCTGTGGACTGCATTGGAAACTGTCATACTTGAGTGCCGGAGGGGTAAGCGGAATTCCTAG,TACGTAGGTCCCGAGCGTTGTCCGGATTTATTGGGCGTAAAGCGAGCGCAGGCGGTTTGATAAGTCTGAAGTTAAAGGCTGTGGCTCAACCATAGTTCGCTTTGGAAACTGTCAAACTTGAGTGCAGAAGGGGAGAGTGGAATTCCATGT,TACGTAGGGAGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGTGCGTAGGCGGATTGGCAAGTCAGAAGTGAAATCCATGGGCTTAACCCATGAACTGCTTTTGAAACTGTTAGTCTTGAGTGAAGTAGAGGTAGGCGGAATTCCCGG,TACGTAGGTGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGCGCGTAGGCGGGGATGCAAGTCAGATGTGAAATCTATGGGCTTAACCCATAAACTGCATTTGAAACTGTATCTCTTGAGTGCTGGAGAGGTAGACGGAATTCCTTG,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGCAAGGCAAGTCTGATGTGAAAACCCAGGGCTTAACCCTGGGACTGCATTGGAAACTGTCTGGCTCGAGTGCCGGAGAGGTAAGCGGAATTCCTAG,TACGTAGGTGGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGCGTGCAGCCGGGAATGCAAGTCAGATGTGAAATCCATGGGCTTAACCCATGAACTGCATTTGAAACTGTATTTCTTGAGTACTGGAGAGGCAATCGGAATTCCTAG,...,TACGTAGGTGGCAAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGTAGGCGGGATGCTAAGCAAATTGTGAAACCAATCGGCTCAACCGGTTGTTGCGATTTGAACTGGTGTCCTTGAGTGGAGTAGAGGCAGGCGGAATTCCCAGT,TACGTAGGTGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGCGTGTAGGCGGGCGAGCAAGTCAGATGTGAAATTCCAGGGCTCAACCCTGGAACTGCATTTGAAACTGTTGGTCTTGAGTGCTGGAGAGGCAATCGGAATTCCGTG,TACGTAGGGGGCGAGCGTTGTCCGGATTTACTGGGCGTAAAGAGTGCGTAGGTGGCTTTACAAGTCAGATGTGAAATACCGCAGCTCAACTGCGGGGCTGCATCTGAAACTGTAGAGCTAGAGTACAGGAGGGGAAAGCGGAATTCCTAG,TACGTAGGGAGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGCGTGTAGGCGGGATGGCAAGTCAGATGTGAAAACTATGGGCTCAACCCATAGCCTGCATTTGAAACTGTCGTTCTTGAGTGATGGAGAGGCAAGCGGAATTCCGTG,TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGCTGTCTATTAAGCGTGTTGTGAAATTTACCGGCTCAACCGGTGGCTTGCAGCGCGAACTGGTCGACTTGAGTATGCAGGAAGTAGGCGGAATTCATGG,TACGTAGGGTGCGAGCGTTAATCGGAATTACTGGGCGTAAAGCGTGCGCAGGCGGTTGGGTAAGACAGGTGTGAAATCCCCGAGCTTAACTTGGGAACTGCACTTGTGACTGCTCAACTAGAGTATGTCAGAGGGAGGTGGAATTCCAAG,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGGATGGCAAGTCTGATGTGAAAGGCGGGGGCTCAACCCCTGGACTGCATTGGAAACTGCCAGCCTAGAGTACCGGAGGGGTAAGCGGAATTCCTAG,TACGTAGGGAGCGAGCGTTGTCCGGAATTACTGGGTGTAAAGGGTGCGTAGGCGGTTTGGTAAGTCAGAAGTGAAATCCATGGGCTTAACCCATGAACTGCTTTTGAAACTATCGGACTTGAGTGAAGTAGAGGTAGGCGGAATTCCCGG,TACGTAGGTGGCAAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGTAGGCGGGAAGACAAGTTGAATGTTAAAACTATGGGCTCAACTCATAGTTGCGTTCAAAACTGCCTTTCTTGAGTGAAGTAGAGGTAAGCGGAATTCCTAGT,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGGCGGTCTGGCAAGCCAGAAGTGAAAGCCCGGGGCTTAACCTCGGGACTGCTTTTGGAACTGTTAGACTAGAGTGTCGGAGAGGTAAGTGGAATTCCTAG
#SampleID,,,,,,,,,,,,,,,,,,,,,
BI0023,3,16,0,4,17,2,16,0,165,18,...,0,0,0,0,0,0,0,0,0,0
BI0056,1,4,0,1,20,44,0,0,4,4,...,0,0,0,0,0,0,0,0,0,0
BI0131,0,0,0,2,12,0,0,0,9,17,...,0,0,0,0,0,0,0,0,0,0
BI0153,1,14,4,18,9,6,29,0,11,8,...,0,0,0,0,0,0,0,0,0,0
BI0215,0,484,0,6,50,1,9,0,17,73,...,0,0,0,0,0,0,0,0,0,0

In [10]:
dat = pd.merge(mf, taxa, left_index=True, right_index=True)
dat.head()

,OHV1D3,OHV24D3,OHVD3,ratio_activation,ratio_catabolism,VDstatus,TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGCCGGAGATTAAGCGTGTTGTGAAATGTAGACGCTCAACGTCTGCACTGCAGCGCGAACTGGTTTCCTTGAGTACGCACAAAGTGGGCGGAATTCGTGG,TACGTAGGGAGCGAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGTAGGCGGGATCGCAAGTCAGATGTGAAAACTATGGGCTTAACCCATAAACTGCATTTGAAACTGTGGTTCTTGAGTGAAGTAGAGGTAAGCGGAATTCCTAG,TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCGCGCAGGCGGCTTCTTAAGTCCATCTTAAAAGTGCGGGGCTTAACCCCGTGATGGGATGGAAACTGGGAGGCTGGAGTATCGGAGAGGAAAGTGGAATTCCTAGT,TACGTAGGTGGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGCGTGTAGCCGGGGAGACAAGTCAGATGTGAAATCTGGAGGCTCAACCTCCAAACTGCATTTGAAACTGTTTCTCTTGAGTATCGGAGAGGTAATCGGAATTCCTAG,...,TACGTAGGTGGCAAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGTAGGCGGGATGCTAAGCAAATTGTGAAACCAATCGGCTCAACCGGTTGTTGCGATTTGAACTGGTGTCCTTGAGTGGAGTAGAGGCAGGCGGAATTCCCAGT,TACGTAGGTGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGCGTGTAGGCGGGCGAGCAAGTCAGATGTGAAATTCCAGGGCTCAACCCTGGAACTGCATTTGAAACTGTTGGTCTTGAGTGCTGGAGAGGCAATCGGAATTCCGTG,TACGTAGGGGGCGAGCGTTGTCCGGATTTACTGGGCGTAAAGAGTGCGTAGGTGGCTTTACAAGTCAGATGTGAAATACCGCAGCTCAACTGCGGGGCTGCATCTGAAACTGTAGAGCTAGAGTACAGGAGGGGAAAGCGGAATTCCTAG,TACGTAGGGAGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGCGTGTAGGCGGGATGGCAAGTCAGATGTGAAAACTATGGGCTCAACCCATAGCCTGCATTTGAAACTGTCGTTCTTGAGTGATGGAGAGGCAAGCGGAATTCCGTG,TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGCTGTCTATTAAGCGTGTTGTGAAATTTACCGGCTCAACCGGTGGCTTGCAGCGCGAACTGGTCGACTTGAGTATGCAGGAAGTAGGCGGAATTCATGG,TACGTAGGGTGCGAGCGTTAATCGGAATTACTGGGCGTAAAGCGTGCGCAGGCGGTTGGGTAAGACAGGTGTGAAATCCCCGAGCTTAACTTGGGAACTGCACTTGTGACTGCTCAACTAGAGTATGTCAGAGGGAGGTGGAATTCCAAG,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGGATGGCAAGTCTGATGTGAAAGGCGGGGGCTCAACCCCTGGACTGCATTGGAAACTGCCAGCCTAGAGTACCGGAGGGGTAAGCGGAATTCCTAG,TACGTAGGGAGCGAGCGTTGTCCGGAATTACTGGGTGTAAAGGGTGCGTAGGCGGTTTGGTAAGTCAGAAGTGAAATCCATGGGCTTAACCCATGAACTGCTTTTGAAACTATCGGACTTGAGTGAAGTAGAGGTAGGCGGAATTCCCGG,TACGTAGGTGGCAAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGTAGGCGGGAAGACAAGTTGAATGTTAAAACTATGGGCTCAACTCATAGTTGCGTTCAAAACTGCCTTTCTTGAGTGAAGTAGAGGTAAGCGGAATTCCTAGT,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGGCGGTCTGGCAAGCCAGAAGTGAAAGCCCGGGGCTTAACCTCGGGACTGCTTTTGGAACTGTTAGACTAGAGTGTCGGAGAGGTAAGTGGAATTCCTAG
#SampleID,,,,,,,,,,,,,,,,,,,,,
BI0023,0.0393,1.77,25.8,0.001523,0.068605,sufficiency,3,16,0,4,...,0,0,0,0,0,0,0,0,0,0
BI0056,0.0619,3.91,39.2,0.001579,0.099745,sufficiency,1,4,0,1,...,0,0,0,0,0,0,0,0,0,0
BI0131,0.0521,1.49,23.1,0.002255,0.064502,sufficiency,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
BI0153,0.0431,2.14,27.3,0.001579,0.078388,sufficiency,1,14,4,18,...,0,0,0,0,0,0,0,0,0,0
BI0215,0.0502,3.62,33.0,0.001521,0.109697,sufficiency,0,484,0,6,...,0,0,0,0,0,0,0,0,0,0

In [11]:
vars_vd = np.array(['OHVD3', 'OHV1D3', 'OHV24D3', 'ratio_activation', 'ratio_catabolism'])
dat[vars_vd] = dat[vars_vd].apply(pd.to_numeric, errors='coerce')

In [12]:
dat[vars_vd].describe()

            OHVD3      OHV1D3     OHV24D3  ratio_activation  ratio_catabolism
count  555.000000  566.000000  566.000000        555.000000        555.000000
mean    35.224865    0.057802    3.431343          0.001774          0.094795
std     12.461583    0.019780    1.836358          0.000735          0.029794
min      7.800000    0.010700    0.300000          0.000398          0.018788
25%     27.400000    0.044125    2.167500          0.001319          0.074162
50%     33.600000    0.055500    3.185000          0.001661          0.092838
75%     41.850000    0.066350    4.237500          0.002081          0.113049
max    104.000000    0.156000   14.070000          0.006727          0.197786

### correlation

In [13]:
otu_cols = dat.columns[mf.shape[1]:dat.shape[1]]
len(otu_cols)

133

In [14]:
bt = pd.read_csv('../data/RF_taxa_act.txt', sep='\t', index_col='#OTU ID')
bt.head()

,Taxon,Confidence,importance
#OTU ID,,,
TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGGGAGCGTAGGCCGGAGATTAAGCGTGTTGTGAAATGTAGACGCTCAACGTCTGCACTGCAGCGCGAACTGGTTTCCTTGAGTACGCACAAAGTGGGCGGAATTCGTGG,k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...,1.000000,0.012003
TACGTAGGGAGCGAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAGCGTAGGCGGGATCGCAAGTCAGATGTGAAAACTATGGGCTTAACCCATAAACTGCATTTGAAACTGTGGTTCTTGAGTGAAGTAGAGGTAAGCGGAATTCCTAG,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,0.850788,0.008464
TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCGCGCAGGCGGCTTCTTAAGTCCATCTTAAAAGTGCGGGGCTTAACCCCGTGATGGGATGGAAACTGGGAGGCTGGAGTATCGGAGAGGAAAGTGGAATTCCTAGT,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,0.999998,0.007752
TACGTAGGTGGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGCGTGTAGCCGGGGAGACAAGTCAGATGTGAAATCTGGAGGCTCAACCTCCAAACTGCATTTGAAACTGTTTCTCTTGAGTATCGGAGAGGTAATCGGAATTCCTAG,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,0.995495,0.002161
TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAGCGTAGACGGTGTGGCAAGTCTGATGTGAAAGGCATGGGCTCAACCTGTGGACTGCATTGGAAACTGTCATACTTGAGTGCCGGAGGGGTAAGCGGAATTCCTAG,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,0.999990,0.005003

In [15]:
bt.index == dat.columns[mf.shape[1]:dat.shape[1]]

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

In [16]:
results= []
i = 3
print(vars_vd[i])
for j in range(len(otu_cols)):
    tmp = dat[[vars_vd[i], otu_cols[j]]].dropna(axis=0, how='any')
    rho, pval = spearmanr(tmp[vars_vd[i]], tmp[otu_cols[j]])
    tax = bt['Taxon'][otu_cols[j]]
    results.append([vars_vd[i], otu_cols[j], tax, rho, pval])
    results.append([vars_vd[i], otu_cols[j], rho, pval])

# output table    
results = pd.DataFrame(results, columns=['vars', 'otu', 'tax',
                                         'rho', 'pval']).dropna(axis=0, how='any')
results['fdr pval'] = multipletests(results['pval'], method = 'fdr_bh')[1]
results = results.sort_values(['fdr pval'], ascending=True)

# specific bacteria
index = results.loc[results['fdr pval'] <= 0.05].index
for i in range(len(index)):
    print(results.tax[index[i]], results['fdr pval'][index[i]])

ratio_activation
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__Ruminococcaceae; g__Oscillospira; s__ 1.113318085710886e-06
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__Ruminococcaceae; g__; s__ 0.00041070617100599755
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__Lachnospiraceae; g__Blautia; s__ 0.001175647665383934
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__Lachnospiraceae; g__; s__ 0.0024542373186275434
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__Lachnospiraceae; g__Blautia; s__ 0.0024542373186275434
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__Ruminococcaceae; g__Oscillospira; s__ 0.0024542373186275434
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__[Mogibacteriaceae]; g__Mogibacterium; s__ 0.0058610383425813425
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__Ruminococcaceae; g__; s__ 0.0060931336016726055
k__Bacteria; p__Lentisphaerae; c__[Lentisphaeria]; o__Victivallales; f__Victivallaceae; g__; s__ 0.012240145364584131
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__Lachnospiraceae; g__Blautia; s__ 0.012240145364584131
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__Lachnospiraceae 0.013742389051777467
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__; g__; s__ 0.026862228329756203
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__Ruminococcaceae; g__; s__ 0.03003817050270212
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales 0.0381797387414862
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__; g__; s__ 0.041610623052437457
k__Bacteria; p__Firmicutes; c__Clostridia; o__Clostridiales; f__Lachnospiraceae; g__Coprococcus; s__ 0.04866972715355947

In [17]:
# check
results

,vars,otu,tax,rho,pval,fdr pval
22,ratio_activation,TACGTAGGTGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGCG...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,-0.241450,8.370813e-09,0.000001
14,ratio_activation,TACGTAGGTGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGCG...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,0.190544,6.176033e-06,0.000411
134,ratio_activation,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,-0.177327,2.651837e-05,0.001176
226,ratio_activation,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,0.165464,8.991193e-05,0.002454
174,ratio_activation,TACGTAGGGGGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,-0.163360,1.107175e-04,0.002454
...,...,...,...,...,...,...
182,ratio_activation,TACGTATGTTCCAAGCGTTATCCGGATTTATTGGGCGTAAAGCGAG...,k__Bacteria; p__Firmicutes; c__Bacilli; o__Lac...,0.003061,9.426439e-01,0.971462
236,ratio_activation,TACGGAAGATGCGAGCGTTATCCGGATTTATTGGGTTTAAAGGGTG...,k__Bacteria; p__Bacteroidetes; c__Bacteroidia;...,0.002692,9.495493e-01,0.971462
72,ratio_activation,TACGGAGGGTGCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGCA...,k__Bacteria; p__Proteobacteria; c__Deltaproteo...,-0.002028,9.619763e-01,0.976663
110,ratio_activation,TACGTAGGTGGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGCG...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,-0.001172,9.780289e-01,0.985438
204,ratio_activation,TACGTAGGGAGCGAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAG...,k__Bacteria; p__Firmicutes; c__Clostridia; o__...,-0.000349,9.934499e-01,0.993450

In [18]:
results.to_csv('../data/correlation_Act.txt', sep='\t')